* {
  font-family: 'Open Sans', sans-serif; }

.wrap {
  width: 100%;
  height: 100%;
  padding-bottom: 50px; }

/*common*/
.bold {
  font-weight: bold; }

.hide {
  display: none; }

.bg_cover {
  background-size: cover;
  background-position: center; }

a {
  text-decoration: none; }

/*page_switch*/
.home {
  display: block; }

.page {
  display: none; }

/*index*/
.content_home_width {
  width: 640px; }

.body_bg {
  background-color: rgba(0, 0, 0, 0.1); }

.body_bg_night {
  background-color: #000000; }

.header {
  font-size: 36px;
  color: #50FF44;
  background-color: #000000;
  text-align: center;
  font-weight: bold;
  height: 74px;
  line-height: 74px;
  font-style: italic;
  display: block;
  cursor: pointer; }

.header_night {
  background-color: #50FF44;
  color: #000000; }

.comic_img {
  width: 100%;
  max-width: 292px;
  height: 438px;
  border: 4px solid #000000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.comic_head {
  width: 317px;
  height: 52px;
  background: #000000;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  text-align: center; }

.comic_body {
  padding: 10px; }

.chapters {
  background: #000000;
  color: #ffffff;
  font-size: 24px;
  width: 181px;
  height: 44px;
  line-height: 44px;
  text-align: center; }

.chapters_detail {
  width: 620px;
  height: 106px;
  border: 4px solid #000000;
  line-height: 2; }
  .chapters_detail a {
    color: #000000;
    padding: 9px 20px;
    display: block; }
  .chapters_detail a:hover {
    color: #ffffff;
    background: #000000;
    text-decoration: none; }

.badge_bg {
  background-color: #50FF44;
  color: #000000;
  margin-left: 10px;
  width: 55px;
  height: 18px;
  font-size: 14px;
  padding: 2px 12px; }

/*Ad*/
.ad_header, .ad_center, .ad_footer {
  width: 620px;
  height: 120px;
  margin: 15px 0;
  display: block; }

/*switch*/
.switch_content {
  height: 24px;
  width: 48px;
  display: block; }

input {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0; }

input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

.switch {
  background: #fff;
  border-radius: 2px;
  display: block;
  height: 24px;
  position: relative;
  width: 48px;
  border: 2px solid #000000; }

.switch_night {
  border: 2px solid #ffffff; }

.switch label {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease; }

.switch label:nth-of-type(1) {
  left: -75%;
  position: absolute;
  text-align: right; }

.switch label:nth-of-type(2) {
  position: absolute;
  right: -75%;
  text-align: left; }

.switch input {
  height: 24px;
  left: -3px;
  opacity: 0;
  position: absolute;
  top: -2px;
  width: 48px;
  z-index: 2; }

.switch input:checked ~ label:nth-of-type(1) {
  color: #000000; }

.switch input:checked ~ label:nth-of-type(2) {
  color: #ffffff; }

.switch input ~ :checked ~ label:nth-of-type(1) {
  color: #000000; }

.switch input ~ :checked ~ label:nth-of-type(2) {
  color: #ffffff; }

.switch input:checked ~ .toggle {
  left: 0px; }

.switch input ~ :checked ~ .toggle {
  left: 22px; }

.switch input:checked {
  z-index: 0; }

.toggle {
  background: #000000;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0px;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -ms-transition: left .2s ease;
  -o-transition: left .2s ease;
  transition: left .2s ease;
  width: 22px;
  z-index: 1; }

.sun {
  display: block;
  color: #000000; }

.sun_night {
  display: none;
  color: #ffffff; }

.moon {
  display: block;
  color: #000000; }

.moon_night {
  display: none;
  color: #ffffff; }

/*page*/
.content_page_width {
  width: 750px; }

.comico_page_title {
  font-size: 24px;
  font-weight: bold; }

.comico_page_title_night {
  color: #ffffff; }

.select_L {
  margin: 0px; }
  .select_L .select_size {
    border-radius: 0;
    border: 2px solid #000000;
    width: 127px; }

.select_R {
  margin: 0px; }
  .select_R .select_size {
    border-radius: 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 0px;
    width: 127px; }

select.decorated option:hover {
  background-color: #000000;
  color: #50FF44; }

.comic_view {
  max-width: 620px;
  max-height: 930px; }

.w90 {
  width: 90%; }

/*slider arrow*/
#ninja-slider {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  margin: 0 auto;
  overflow: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#ninja-slider .ns-img {
  background-size: cover;
  border-radius: 0px;
  cursor: pointer;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center; }

#ninja-slider .slider-inner {
  width: 100%;
  height: 100%;
  max-width: 620px;
  max-height: 930px;
  margin: 0 auto;
  font-size: 0px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ns-img {
  width: 620px;
  height: 930px; }

#ninja-slider.fullscreen {
  background: black; }

#ninja-slider.fullscreen #ninja-slider-prev {
  left: -50px; }

#ninja-slider.fullscreen #ninja-slider-next {
  right: -50px; }

#ninja-slider-next {
  right: -80px; }

#ninja-slider-prev {
  left: -80px; }

#ninja-slider-prev, #ninja-slider-next {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 930px;
  line-height: 930px;
  top: 0;
  margin-top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  color: #50FF44;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
  z-index: 10;
  opacity: 0.3;
  font-family: sans-serif;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

#ninja-slider-prev:hover {
  background-color: #000000; }

#ninja-slider-next:hover {
  background-color: #000000; }

#ninja-slider-prev::before {
  position: absolute;
  top: 50%;
  left: 40%;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-left: 4px solid #000000;
  border-top: 4px solid #000000; }

#ninja-slider-prev:hover::before {
  border-left: 4px solid #50FF44;
  border-top: 4px solid #50FF44; }

#ninja-slider-next::before {
  position: absolute;
  top: 50%;
  left: 33.5%;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-left: 4px solid #000000;
  border-top: 4px solid #000000; }

#ninja-slider-next:hover::before {
  border-left: 4px solid #50FF44;
  border-top: 4px solid #50FF44; }

#ninja-slider .fs-icon {
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.1) url(fullscreen.png) no-repeat 0 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s; }

#ninja-slider:hover .fs-icon {
  opacity: 1; }

#ninja-slider.fullscreen .fs-icon {
  background-position: center -45px;
  opacity: 1; }

#ninja-slider ul {
  /*overflow:hidden;*/
  position: relative;
  list-style: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 930px !important;
  width: 620px !important; }
